HistoricalQuoteClient/Service References/HistoricalQuoteReference/HistoricalQuoteServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HistoricalQuoteServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HistoricalQuoteServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HistoricalQuote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Close" type="xs:double" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" type="xs:double" />
      <xs:element minOccurs="0" name="Low" type="xs:double" />
      <xs:element minOccurs="0" name="Open" type="xs:double" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" type="xs:long" />
      <xs:element minOccurs="0" name="Wap" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricalQuote" nillable="true" type="tns:HistoricalQuote" />
</xs:schema>