HistoricalQuoteClient/Service References/HistoricalQuoteReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HistoricalQuoteServiceLib" />
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quoteType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HistoricalQuoteServiceLib" minOccurs="0" name="GetQuoteResult" nillable="true" type="q1:HistoricalQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>